* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Josefin Slab', serif;
	background: #2E294E;
	color:#C5D86D;
}

a {
  font-size: 20px;
	text-decoration: none;
	color: #F46036;
}

a:hover {
	color: #D7263D;
}

.container {
	max-width: 500px;
	width: 90%;
	margin: auto;
}

.title {
	font-weight: 300;
	color: #1B998B;
	text-align: center;
	margin: 60px 0 30px 0;
}

.border {
	border:none;
	margin-bottom: 5px;
	border-top:10px solid #C5D86D;
	background: none;
	color:none;
}

.form {
	background: #3F386B;
	padding: 30px;
	margin-bottom: 30px;
}

.form .form-group {
	width: 100%;
	margin-bottom: 10px;
}

.form input[type="text"],
.form input[type="password"] {
	padding: 15px;
	font-family: 'Josefin Slab', serif;
	font-size: 18px;
	line-height: 18px;
	border: none;
	vertical-align: top;
}

.form .icon {
	padding: 15.5px;
	text-align: center;
	width: 48px;
	max-height: 48px
	font-size: 18px;
	line-height: 18px;
	background: #1B998B;
	display: inline-block;
	color: #C5D86D;
	vertical-align: top;
}

.form .icon.left {
	margin-right: 4px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.form .user,
.form .password {
	width: calc(100% - 52px);
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.form .password_btn {
	width: calc(100% - 105px);
}

.form .error ul {
	padding: 10 15px;
}

.form .error ul li {
	margin-bottom: 10px;
}

.form .submit-btn {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px
	font-size: 18px;
	line-height: 18px;
	background: #F46036;
	display: inline-block;
	color:#C5D86D;
	cursor: pointer;

	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.form .submit-btn:hover{
  background: #D7263D;
}

.text-signup {
	text-align: center;
}

.text-signup a {
	display: block;
	font-size: 18px;
}

.content article {
	padding: 30px;
	background: #3F386B;
}

.content article p{
	margin-bottom: 10px;
	color: #C5D86D;
}
